doc/*
!doc/doxygenLArCV.script
*.out
*.depend
*.png
*.jpg
*.jpeg
*.pcm
*.json
*.db
*.log
*.dat
*.bin
*~
*.pyc
.ipynb_checkpoints
*.ipynb
.DS_Store
*.pdf
*.o
*.so
*.h5
_skbuild
dist
MANIFEST
CMakeFiles
*.cmake
Makefile
make.bat
foam4Py.egg-info/
*.cache/

# Ignore OpenFOAM generated data folders
*[0-9].[0-9]/
*[0-9][0-9].[0-9]/
*[0-9][0-9].[0-9][0-9]/
*[0-9].[0-9][0-9]/
*[0-9][0-9].[0-9][0-9]/

# Keep specific folders
!tests/cavity/constant/
!tests/cavity/0/
!tests/cavity/system/

# Sphinx documentation
__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.rst.inc
Thumbs.db
.DS_Store
/.cache/
build/docs/
build/doctrees/
build/html
source/
